[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.19.2"
pandas = "==1.5.3"
openpyxl = "==3.1.2"
XlsxWriter = "==3.0.3"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
